---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <img src="/img/{{ page.image }}" alt="{{ page.title }}" class="post-image"/>
  </header>

  <div class="post-content" itemprop="articleBody">
    <table>
      <thead>
        <tr>
          <th class="ingredients">Ingredients</th>
          <th class="instructions">Instructions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="ingredients">
            <ul>
              {% for ingredient in page.ingredients %}
                <li>{{ ingredient }}</li>
              {% endfor %}
            </ul>
          </td>
          <td class="instructions">
            <ol>
              {% for instruction in page.instructions %}
                <li>{{ instruction }}</li>
              {% endfor %}
            </ol>
          </td>
        </tr>
      </tbody>
    </table>

    {% if page.source %}
      <small class="pull-right">{{ page.source }}</small>
    {% endif %}
  </div>

</article>
